<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Madison Software Academy{% if page.title }%} - {{page.title}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/syntax.css">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Madison Software Academy</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">
          <li><a href="/">Documentation</a></li>
          <li><a href="">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="" target="_blank">Sign Up</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          {{content}}
          <br />
          <p>
            {% if page.title != 'Become a Rails Developer' %}
            <a href="./">< back to Learning Rails Main Page</a>
            {% endif %}
          </p>
        </div>
        <div class="col-md-3">
          <p>
            {% if page.title != 'Become a Rails Developer' %}
            <a href="./">Learning Rails Main Page</a>
            {% endif %}
          </p>
        </div>
      </div>
    </div>

    <style>

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </script>

    <script>
      $('#menu [data-section="{{page.section}}"]').addClass('active');
    </script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-changeme-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
